 <div class="footer">
          <div class="footer_wrap">
            <div class="upper_foot">
              <div class="quick_links">
                <h6 class="all_link">Quick Links</h6>
                  <ul>
                    <li class="quick_li"><a href="/">Home</a></li>
                    <li class="quick_li"><a href="/#mission">Our Mission</li></a>
                    <li class="quick_li"><a href="/#about">About Us</li></a>
                    <li class="quick_li"><a href="/feedback">Contact Us</li></a>
                  </ul>
                </div>
              </div>
             
            </div>
          </div>