<%-layout("/layouts/boilerplate.ejs")%>
<%-include("../includes/navbar.ejs")%>
  <body>
   
      <div class="hero">
        <div class="heads">
          <h2>IOT Based</h2>
          <h1>Smart Waste Management</h1>
          <button class="started">
            <a href="/dashboard"
            >Get Started <i class="fa fa-arrow-right" aria-hidden="true"></i
              ></a>
            </button>
          </div>
        </div>
      <!-- <img src="assets/leaves.svg" class="leaves" alt=""> -->
      <div class="second">
        <div class="second_wrap col">
        <img id="colon1" src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-left.svg" alt="" >
        <h1 class="revol">
            Revolutionizing Waste Management for a <span>Greener</span> Tomorrow
          </h1>
          <img id="colon2" src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-right.svg" alt="" >
          <center><img class="dust" src="https://res.cloudinary.com/dsm5cjoxf/image/upload/v1738556492/dustbin_kubror.jpg" alt="" /></center>
          </div>
        </div>
        <!-- <img src="https://www.innerve.tech/assets/White_Leaves_1-DFUmyvdR.svg" class="leaves l2" alt=""> -->
    <div class="third">
      <div class="back">
        <div class="heading">
            <h1 class="why">Why Choose Smart Waste Management?</h1>
        </div>
        </div>
      <div class="features">
        <div class="elem a">
          <div class="rays aa">
          </div>
            <h2>REAL TIME MONITORING</h2>
            <img id="last" src="https://res.cloudinary.com/dsm5cjoxf/image/upload/v1738556500/realtime_lsdwar.jpg" alt=""></div>
          <div class="elem b">
              <div class="rays ab">
              </div>
              <h2>AUTOMATED SCHEDULING</h2>
              <img id="last" src="https://res.cloudinary.com/dsm5cjoxf/image/upload/v1738556491/date_spofcv.jpg" alt=""></div>
            <div class="elem c">
                <div class="rays ac">
                </div>
                <h2>SUSTAINABILITY METRICS</h2>
                <img id="last" src="https://res.cloudinary.com/dsm5cjoxf/image/upload/v1738556500/sustain_onbgob.jpg" alt=""></div>
              <div class="elem d">
              <div class="rays ad">
              </div>
          <h2>COMMUNITY ENGAGEMENT</h2>
          <img id="last" src="https://res.cloudinary.com/dsm5cjoxf/image/upload/v1738556491/community_jqbmof.jpg" alt=""></div>
        </div>
    </div>
   <div class="fourth" id="mission">
      <div class="fourth_wrap">
        <div class="fourth_wrap_sec">
      <div class="our_heading">Our Mission</div>
      <div class="mission">
        <p>Our mission is to revolutionize urban waste management by creating smarter, more efficient systems that reduce pollution, optimize collection routes, and promote sustainability. Through innovative use of IoT technology, we aim to make cities cleaner, reduce operational costs, and foster a more responsible approach to waste disposal.</p>
            <img src="https://res.cloudinary.com/dsm5cjoxf/image/upload/v1738556496/mission_j9egyk.jpg" class="our_mission" alt="">
          </div>
        </div>
      </div>
        </div>
       <div class="fifth" id="about">
          <div class="fifth_wrap">
          <h1 class="heading">About Us</h1>
          <div class="about-text">
          <img class="abimg" src="https://res.cloudinary.com/dsm5cjoxf/image/upload/v1738556492/about_xjhzqe.svg" alt="">
          <p>Smart waste management systems revolutionize traditional practices through advanced technology. IoT-powered solutions optimize collection routes, monitor bin levels in real-time, and reduce operational costs while minimizing environmental impact. By leveraging AI-driven analytics and eco-friendly practices, these systems enable cities and organizations to achieve sustainability goals efficiently. Transforming waste challenges into opportunities, this approach fosters cleaner communities and paves the way for a greener, smarter future.</p>
        </div></div>
        </div>
        </div>
  </body>
  <%-include("../includes/footer.ejs")%>
  <script src="https://cdn.botpress.cloud/webchat/v2.2/inject.js"></script>
  <script src="https://files.bpcontent.cloud/2025/01/30/12/20250130125338-E5ADTUHI.js"></script>